/****************** [params] [参数] *******************/
/* 颜色 */
$color-white:   #ffffff;
$color-black:   #171920;
$color-blue-1:  #5A82FF;
$color-blue-2:  #6699FF;
$color-blue-3:  #7AAAFF;
$color-blue-4:  #8CC3FF;
$color-red-1:   #f54030;
$color-red-2:   #df2d1d;
$color-red-3:   #ec715e;
$color-green-1: #7ED8C0;
$color-yellow-1:#FFE466;



/****************** [realize] [实现] *******************/

$theme-name: 'vue';
$color-font: $color-black;
$color-primary: #5A82FF; 
$color-assist:  #8CC3FF;

